.iconosMedia a {
    text-decoration: none;
}

.iconoWhatsApp, .iconoFacebook, .iconoInstagram {
    color: black;
}

.textoCopyright {
    color: white;
}

.footer {
    background-color: white;
}

.copyRight {
    background-color: green;
}


/* .divContactos {
    height: 1080px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./Imagenes/contacto.png);
} */

.divContactos a {
    text-decoration: none;
}




/*_________________________________INDEX______________________________________*/

/*quienes somos*/
.card-title{
    font-size: 30px !important;
    color: green;
}
.card-text{
    font-size: 23px !important;
}


/*img3*/
#img3{
    color: rgb(7, 7, 7);
    padding: 10px;
    font-size: 20px;
    text-align: center;
    
}
#img3 li{
    margin-top: 25px;
    text-align: center;
    
}
#img{
    padding-top: 160px;
}
/*nosotros*/
#nosotros{
    padding-top: 160px;
}

/*tarjetas de profile*/
.card-group{
    padding-top: 160px;
}
#profile{
    border-radius: 100% !important;
}
#profile:hover{
    border-color: cadetblue;
    border: groove;

}
.card-title2{
    color:green !important;
    font-size: 20px !important;
}
.card {
    border:none !important;
}
/*_________________________________FIN INDEX______________________________________*/

/*_________________________________PROYECTOS______________________________________*/

#secondMenu{
    box-shadow: 0px 0px 5px 1px black;
}
#navbartwo{
padding-top: 20px;
}
#nav2link{
    padding: 20px;
    text-decoration:none !important;
    color: black;
}

/*_________________________________ FIN PROYECTOS______________________________________*/