.iconosMedia a {
    text-decoration: none;
}

.iconoWhatsApp, .iconoFacebook, .iconoInstagram {
    color: black;
}

.textoCopyright {
    color: white;
}

.footer {
    background-color: white;
}

.copyRight {
    background-color: green;
}